/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* Font */

*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    color: rgb(255, 255, 255);
    background: #000;
}
:root {
    --colorPrimary: #e50914;
}
.sectionHeading{
    font-size: 4.8rem;
    font-weight: bolder;
}
.sectionPera{
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4rem;
}
.container{
    width: 75%;
    margin: 0 auto;
}
/* Banner Start */
.banner{
    background-image: url(../Asset/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    position: relative;
}
.bgColor{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .66;
    position: absolute;
    top: 0;
    z-index:1;
}
.banner nav{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    padding-top: 2.6rem;
}
.banner nav a img{
    width: 144px;
}
.banner nav button{
    padding: .4rem 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: var(--colorPrimary);
    border-radius: 1rem;
    cursor: pointer;
}
.banner .bannerContent{
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner .bannerContent h5{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 3rem 0;
}
.banner .bannerContent h6{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.banner .bannerContent .bannerContact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bannerContent .bannerContact button{
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: var(--colorPrimary);
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    cursor: pointer;
}
.banner .bannerContent .bannerContact input{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 1.6rem 2rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 1px solid gray;
    margin-right: 2.5rem;
}
.banner .bannerContent .bannerContact input[placeholder]{
    padding-right: 15rem;
}
/* Banner Start */
/* Enjoy your Tv */
#enjoyTv{
    padding: 15rem 0;
}
.enjoyTvcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.enjoyTvtext h2{
    margin-bottom: 2rem;
}
.enjoyTvtext p{
    line-height: 4rem;
}
.enjoyTvMedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enjoyTvMedia img{
    position: relative;
    z-index: 10;
}
.enjoyTvMedia video{
    position: absolute;
    scale: 1.04;
}
/* Enjoy your Tv */
/* Download Your Show */
#downloadShows{
    padding-bottom: 15rem;
}
.downloadShowContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.downloadShowContent .showimages{
    position: relative;
}
.downloadShowContent .showimages .imageContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    width: 35rem;
    border: 2px solid gray;
    padding: .8rem 1.2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    opacity: .80;
}
.downloadShowContent .showimages .imageContent img{
    height: 100%;
}
.showText p{
    margin-top: 2rem;
}
/* Download Your Show */
/* Watch Everywhere */
#watch{
    padding-bottom: 15rem;
}
.watchContent{
    text-align: center;
}
.watchContent h2{
    margin-bottom: 3rem;
}
/* Watch Everywhere */
/* For Kids */
#kids{
    padding-bottom: 15rem;
}
.kidsProfile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}
.kidsContent h2{
    margin-bottom: 3rem;
}
/* For Kids */